{% extends "base.html" %}
{% block content %}
<section id="content" class="body archive">
<header>
    {% block header_nav %}{% endblock %}
    <h1>Archives for {% block archives_period %}{{ SITENAME }}{% endblock %}</h1>
</header>

{% for year, year_group in dates|groupby('date.year') %}
    <h2><a href="{{ SITEURL }}/{{ year }}/">{{ year }}</a> ({{ year_group|length }})</h2>
    {% for month, month_group in year_group|groupby('date.month') %}
    <h3>
        <a href="{{ SITEURL }}/{{ year }}/{{ month_group[0].date|strftime('%m') }}/">{{ month_group[0].date|strftime('%B') }} {{ year }}</a> ({{ month_group|length }})
    </h3>
    {% endfor %}
{% endfor %}
</section>
{% endblock %}
