{% extends "base.html" %}
{% from "base.html" import article_header %}
{% block content_title %}{% endblock %}
{% block content %}        
{% if articles %}
    {% for article in articles %}        

        {# First item #}
        {% if loop.first %}
            {{ article_header(SITEURL, SITENAME, SITESUBTITLE, article, include_history=False) }}

            <article>
                {{ article.content }}{% include 'comments.html' %}
            </article>
            {% if loop.length > 1 %}
                <section id="article-list">
                    <h2>All posts</h2>
                    <ol>
            {% endif %}
        {# other items #}
        {% else %} 
            <li><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></li>
        {% endif %}
{% endfor %}
    {% if loop.length > 1 %}
    </ol>
    </section><!-- #article-list -->
{% endif %}
{% else %}
    No posts found.
{% endif %}
{% endblock content %}
