{% extends "base.html" %}
{% from "base.html" import article_header %}
{% block content_title %}{% endblock %}
{% block content %}        
{% if articles %}
    {% for article in articles %}

        {{ article_header(SITEURL, SITENAME, SITESUBTITLE, article, include_history=False) }}

        <article>
            {{ article.summary }}
            {% if article.summary != article.content %}
            <p><a href="{{ SITEURL }}/{{ article.url }}" class="readmore">Read more&hellip;</a>
            {% endif %}
        </article>
    {% endfor %}
{% else %}
    No posts found.
{% endif %}
{% endblock content %}
