{% extends "base.html" %}
{% from "base.html" import article_header %}
{% block content_title %}{% endblock %}
{% block content %}        
{% if articles_page %}
    {% for article in articles_page.object_list %}

        <article>
        {{ article_header(SITEURL, SITENAME, SITESUBTITLE, article, include_history=False) }}
            <section class="article-content article-summary-content">
                {{ article.summary }}
            </section>
            {% if article.summary != article.content %}
                <p><a href="{{ SITEURL }}/{{ article.url }}" class="readmore">Read more&hellip;</a>
            {% endif %}
            {% if article.comments_count > 0 %}
                <p><a href="{{ SITEURL }}/{{ article.url }}#comments">{{ article.comments_count }} comment{% if article.comments_count > 1 %}s{% endif %}</a>
            {% endif %}
        </article>
    {% endfor %}
    {% include "pagination.html" %}
{% else %}
    No posts found.
{% endif %}
{% endblock content %}
